INSERT INTO {{#sql.module}}{{.}}.{{/sql.module}}{{table.name}} ( {{#primary}}{{primary.name}},{{/primary}}{{%cols}}{{name}}{{/cols}}) 
VALUES ({{#primary}}{{primary.value}},{{/primary}}{{%cols}}{{>column}}{{/cols}});

